<div class="product-details" *ngIf="product">
  <div class="row">
    
        <div class="large-image col-md-6">
          <img src="{{ product.src }}" alt="Large image"/>
        </div>
    
        <div class="right-info col-md-6">
          <h1>{{ product.name }}</h1>
          <h3 *ngIf="category">Category: {{ category.name }}</h3>
          <ul>
            <li>In stock. Ships within 1-2 days</li>
            <li>Free Shipping</li>
            <li>Guarantee</li>
          </ul>
          
          <div class="price">${{ product.price }}</div>
    
          <button (click)="addToCart()" class="button add-to-cart">
            <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
            Add to cart
          </button>
        </div>
    
      </div>
    
      <div class="detailed-info">
        <p>
          {{ product.desc }}
        </p>
      </div>
    
</div>