<div class="order">
  
    <div class="message negative" *ngIf="!order && isFinished">
      Oops.. This order was not found.
    </div>
  
    <div *ngIf="isFinished">
      <h1>Orders made by {{ order.user.firstname + ' ' + order.user.lastname}} </h1>
  
      <table>
        <tr>
          <td>Ordernumber:</td>
          <td></td>
          <td>{{ order.id }}</td>
        </tr>
        <tr>
          <td>Date created:</td>
          <td></td>
          <td>{{ order.createdAt | date:'short' }}</td>
        </tr>
        <tr>
          <td>Status:</td>
          <td></td>
          <td>
            <div [ngSwitch]="order.status">
              <span *ngSwitchCase="ShippingStatus.Pending">Pending</span>
              <span *ngSwitchCase="ShippingStatus.AwaitingShipment">Awaiting Shipment</span>
              <span *ngSwitchCase="ShippingStatus.Shipped">Shipped</span>
              <span *ngSwitchCase="ShippingStatus.Completed">Completed</span>
            </div>
          </td>
        </tr>
        <tr>
          <td>Payment method:</td>
          <td></td>
          <td>{{order.payment_method.name}}</td>
        </tr>
        <tr>
          <td>Invoice:</td>
          <td> </td>
          <!-- <td>[invoice]</td> -->
          <td>invoice details</td>
        </tr>
      </table>
  
      <div class="customer-info row">

  
        <div class="col-md-6 col-xs-12" *ngIf="order.shipping_method">
          <h4>Shipping Information</h4>
          <table>
            <tr>
              <td>Shipping Career:</td>
              <td>{{ order.shipping_method.name }}</td>
            </tr>
            <tr>
              <td>Receiver:</td>
              <td>{{ order.user.firstname }} {{ order.user.lastname }} </td>
            </tr>
            <tr></tr>
            <tr>
              <td>Address</td>
              <td>
                {{ order.user.address.street }} <br/>
                {{ order.user.address.city }} <br/>
                Phone: {{ order.user.address.phone }}
              </td>
            </tr>
          </table>
        </div>
  
      </div>
  
      <div *ngIf="order.status == ShippingStatus.Shipped">
        <!-- TODO: if shipped display message -->
        <div class="message info">
          <p>The shipment is sent to you and your tracking number is: <i class="fa fa-truck"></i> [trackingnumber]</p>
          <p>Please note that the tracking number may not be available yet. It may take a few hours before you can track it.</p>
        </div>
      </div>
    
    <app-checkout-items
      [items]="order.items"
      [subtotal]="(subTotal - 0).toFixed(2)"
      [shippingCost]="(order.total - subTotal).toFixed(2)"
      [grandTotal]="order.total">
    </app-checkout-items>
    </div>
  
  </div>
  