.box {
  background: #fafafa;
  margin-bottom: 20px;
}
.box .title {
  background: #81a9b3;
  padding: 15px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}
.box .title.small {
  background: #fafafa;
  font-size: 0.8em;
  color: #777;
}
.box .title i {
  margin-right: 10px;
  font-size: 24px;
  line-height: 24px;
}
.box .content {
  padding: 15px;
}
.widget {
  border: 1px solid #dfdfdf;
  border-top: 2px solid #0ab3a3;
  margin-bottom: 20px;
  padding: 15px;
}
.widget h1, .widget h2, .widget h3, .widget h4 {
  text-transform: uppercase;
}
.widget .lead {
  color: #909090;
  margin-bottom: 20px;
  font-size: 0.6em;
}
