<div class="text-center">
    <div *ngIf="cart.length; then content else noItemInCart">Some problem in your cart!</div>
    <ng-template #noItemInCart><h3>No item in your Cart !</h3></ng-template>
    <ng-template #content><h3>Your Cart :</h3></ng-template>
</div>

<div class="cart">
  <!-- <h1>Cart</h1>

  <div class="empty-cart" *ngIf="!cart.length">
    <p>Your cart is empty</p>
  </div> -->

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <table class="table table-striped table-hover" *ngIf="!this.cartEmpty">
      
        <thead>
          <tr>
            <th style="width:50%"><h5>Product</h5></th>
            <th style="width:10%"><h5>Price</h5></th>
            <th style="width:10%"><h5>Quantity</h5></th>
            <th style="width:20%" class="text-center"><h5>Subtotal</h5></th>
            <th style="width:10%"></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let cartItem of cart; let i = index">
            <td data-th="Product">
              <div class="row">
                <div class="col-sm-2 hidden-xs"><a [routerLink]="['/product-detail', cartItem.product.id]"><img src={{cartItem.product.src}} width="100" height="100" alt={{cartItem.product.name}} class="img-responsive"/></a></div>
                <div class="col-sm-10">
                  <strong class="nomargin">{{cartItem.product.name}}</strong>
                  <p *ngIf="cartItem.product.desc.length > 50">{{cartItem.product.desc | slice:0:50 }}...</p>
                </div>
              </div>
            </td>
            <td data-th="Price">${{cartItem.product.price}}</td>
            <td data-th="Quantity">
              <input type="number" min="1" class="form-control text-center" [(ngModel)]="cartItem.quantity">
            </td>
            <td data-th="Subtotal" class="text-center">${{cartItem.subTotal.toFixed(2)}}</td>
            <td class="actions" data-th="">
              <button class="btn btn-info btn-sm" (click)="updateCart(cartItem)"><i class="fa fa-refresh"></i></button>
              <button class="btn btn-danger btn-sm" (click)="removeItem(cartItem)"><i class="fa fa-trash-o"></i></button>								
            </td>
          </tr>
        </tbody>

        <tfoot>
            <tr class="visible-xs">
              <td class="text-center"><h6>Total Qty: {{totalQuantity}}, Total Price: ${{totalPrice.toFixed(2)}}</h6></td>
            </tr>
            <tr>
              <td><a class="btn btn-warning" routerLink="/products"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
              <td colspan="1" class="hidden-xs"></td>
              <td class="hidden-xs text-center"><h6>{{totalQuantity}}</h6></td>
              <td class="hidden-xs text-center"><h6>${{totalPrice}}</h6></td>
              <td><a class="btn btn-success btn-block" routerLink="/checkout">Checkout <i class="fa fa-angle-right"></i></a></td>
            </tr>  
        </tfoot>
      
      </table>
    </div>
  </div>
</div>