  
  <div class="image price">  
    <div class="price">${{ product.price }}</div>
    <img class="group list-group-image prettyPhoto" [routerLink]="['/product-detail', product.id]" [src]="product.src" [alt]="product.name"/>
  </div>
  <div class="caption">
      <div class="title">
        <h3 class="name"><a [routerLink]="['/product-detail', product.id]">{{ product.name }}</a></h3>

      </div>
    <div>
      <div class="button">
        <button (click)="addToCart()" class="btn">
        <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
        Add to cart
        </button>
    </div>

  </div>
</div>
         