@import url('https://fonts.googleapis.com/css?family=Roboto|Ubuntu|Ubuntu+Condensed|Ubuntu+Mono');
/*
 font-family: 'Roboto', sans-serif;
 font-family: 'Ubuntu Mono', monospace;
 font-family: 'Ubuntu Condensed', sans-serif;
 font-family: 'Ubuntu', sans-serif;
 */
html {
  padding: 0;
  margin: 0;
}
body {
  color: #333;
  background: #ededed;
  font-family: 'Ubuntu', sans-serif;
}
a {
  color: #333;
  text-decoration: none;
}
.page {
  margin: 60px auto;
  background: #fff;
  padding: 20px;
  width: 1200px;
}
.header {
  margin-bottom: 40px;
}
.header .menu {
  background: #fff;
  margin: 0;
  overflow: auto;
  list-style: none;
  text-transform: uppercase;
  font-size: 1.2em;
}
.header .menu li {
  float: left;
  margin: 0 30px;
}
.header .top-bar {
  text-align: right;
}
.footer {
  background: #333;
  padding: 40px;
}
/** Misc **/
.price {
  color: #0ab3a3;
  font-size: 1.2em;
  font-weight: 300;
}
.button {
  border-radius: 0;
  background: #0ab3a3;
  margin: 10px 0;
  display: inline-block;
  color: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.14);
  border: 0;
  padding: 11px 20px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
  line-height: 20px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  transition: all, 0.2s, ease-in-out;
}
.button:hover {
  background: #099b8d;
}
.button.add-to-cart i {
  vertical-align: middle;
  margin-right: 5px;
}
